form{
    text-align: center;
    align-items: center;
}
fieldset{
    margin: 5px;
    text-align: center;
    align-items: center;
    border: solid 4px black;
    border-radius: 5px;
}
p{
    color: black;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    font-size: 30px;
}
body{
    color: #F0F8FF;
}
#lol{
    margin-left: 40px;
    float: left;
    width: 200px;
    height:400px;
}
#lol2{
    padding-left: 150px;
    width: 200px;
    height:400px;
}
#rocket{
    margin-top: 170px;
    float: right;
    width: 400px;
    height:200px;
}
fieldset{
    background-color: #4070f4;
}
legend{
    font-size: larger;
}
#e1{
    float: left;
    width: 200px;
    height: 200px ;
}
#e2{
    width: 200px;
    height: 200px ;
}
#amv{
    float: right;
    width: 400px;
    height:200px;
}
#d{
    margin-top: 170px;
    float: right;
    width: 400px;
    height:200px;
}
#a{
    width: 200px;
    height:400px;
}
#lr{
    margin-left: 20px;
    float: left;
    width: 200px;
    height:400px;
}
#ee2{
    width: 400px;
    height:200px;
}
#ee1{
    float: left;
    width: 400px;
    height:200px;
}
#ee3{
    float: right;
    width: 400px;
    height:200px;
}
/* Scroll TO Top Button CSS */
body a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #4070f4;
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
  }